<h1>Mariage#accomodation</h1>
<p>Nous proposons, sur cette page, une liste d'hôtels faciles d'accès depuis la salle de réception. Si vous avez d'autres idées, n'hésitez pas à nous les communiquer pour que l'on puisse les afficher sur cette page.</p>
