<div class="home">
	<div class="text_left1">
		<strong>Quoi, où & quand?<%=  %></strong>
	</div>
</div>
<div class="new_activity">
<h1>La mairie à 17h00</h1>
	<div class="text_event">
		Rendez-vous à la mairie de Quetigny. Cirez les chaussures, mettez le noeud pap' et apportez votre bonne humeur :) !!
		</br></br>
		<div class="address_activity">Place Théodore Monod, 21800 Quetigny, France</div>
	</div>
</div>
<div class="new_activity">
	<h1>L'apéritif, vers 18h00</h1>
	<div class="text_event">
	Aux environs de 18h00, on devrait être en état de se conférer à notre sport national, l'apéritif bien sûr! 
	</br> 
	On se retrouve tous à la Barca, un petit restaurant sympa sur les hauteurs de Quetigny (c'est tout plat Quetigny, mais ça donne du cachet!)
	</br></br>
	<div class="address_activity">La Barca, 9 Rue Artisans, 21800 Quetigny, France</div>
	</div>
</div>
<div class="new_activity">
<h1>La réception à 20h00</h1>
	<div class="text_event">
		Vers 20h00 ou plutôt après l'apéritif, commencera la réception. Une soirée conviviale en vue, qui vous fera partager un peu des traditions de nos chers pays, la France et la Pologne. 
		</br>
		<div class="address_activity">La Barca, 9 Rue Artisans, 21800 Quetigny, France</div>
	</div>
</div>
<div class="new_activity">
<h1>Un dimanche détente à partir de 13h00</h1>
	<div class="text_event">
		Après cette soirée de folie, vous serez bien-sûr conviés à venir vous détendre et savourer un repas léger sous forme de buffet.  
		</br>
		<div class="address_activity">La Barca, 9 Rue Artisans, 21800 Quetigny, France</div>
	</div>
</div>