<h1>Listing post_answers</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Username</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_answers.each do |post_answer| %>
  <tr>
    <td><%= post_answer.content %></td>
    <td><%= post_answer.username %></td>
    <td><%= post_answer.post_id %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post answer', new_post_post_answer_path %>
