<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", mariage_home_path %></li>
      <li><%= link_to "Accomodation", mariage_accomodation_path %></li>
      <li><%= link_to "Program", mariage_program_path %></li>
      <li><%= link_to "Contact", mariage_contact_path %></li>
    </ul>
  </nav>
  <p>Our wedding website, copyright D&D</p>
</footer>
